# Ignore bundler config.
.bundle

# Ignore the default SQLite database files
/db/development.sqlite3
/db/test.sqlite3
/db/production.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
 /log/*
!/log/.keep
/tmp
